<%= form_for(@hack) do |f| %>
  <% if @hack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hack.errors.count, "error") %> prohibited this hack from being saved:</h2>

      <ul>
      <% @hack.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :css %><br />
    <%= f.text_area :css %>
  </div>
  <div class="field">
    <%= f.label :html %><br />
    <%= f.text_area :html %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Enter the code for your hack</h4>
      </div>
      <form action="/2" method="POST"> <!-- SUBSTITUTE ROUTE NUMBER FOR ID OF NEW ENTRY -->
      
        <!-- FORM FIELDS -->
        <div class="modal-body">
          <input type="text" class="form-control title" name="title" placeholder="Title"><br/>
          
          <input type="textarea" class="form-control css" rows="5" name="css" placeholder="CSS"><br/>
          <input type="textarea" class="form-control html" name="html" placeholder="HTML"><br/>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </div>

      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->