
<div id="css-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#css-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#css-carousel" data-slide-to="1"></li>
    <li data-target="#css-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= render 'slidecontent', hack: @hacks.first %>
    </div>
      <% @hacks.drop(1).each do |hack| %>
        <div class="item" id="<%=hack.id%>">
          <%= render 'slidecontent', hack: hack %>
        <!-- <div class="carousel-caption"></div> -->
        </div>
      <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#css-carousel" data-slide="prev">
    <!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
    <%= image_tag "arrow-left.png", :class=>"arrow"%>
  </a>
  <a class="right carousel-control" href="#css-carousel" data-slide="next">
    <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
    <%= image_tag "arrow-right.png", :class=>"arrow"%>
  </a>
</div>

    <%#= link_to 'Show', hack %>
    <%#= link_to 'Edit', edit_hack_path(hack) %>
    <%#= button_to 'Destroy', hack, confirm: 'Are you sure?', method: :delete %>



<%#= link_to 'New Hack', new_hack_path %>
