<div class="navbar" >
  <ul class="nav navbar-nav navbar-left nav-main">
    <li><a href="/" class="brand ">CSS HACKS</a></li>
  </ul>
  
  <!-- Button trigger modal -->
  <ul class="nav navbar-nav navbar-right nav-main">
      
      <li><a href="/#css-carousel" class="active">Gallery</a></li>
      <li><a href="#">Categories</a></li>
      <li><a href="#">About</a></li>
      
    <% if user_signed_in? %>
      <li>
        <%= link_to "New Hack", "#", "data-toggle" => "modal", "data-target"=>"#myModal" %>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <b class="caret"></b>
          <%= "Hi, #{current_user.first_name}" %>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/users/<%= current_user.id%>">My Hacks</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><%= button_to "Logout", destroy_user_session_path, method: :delete %> </li>
        </ul>
      </li>

    <% else %>
      
      <li>
       
          <%= link_to "Sign in", new_user_session_path, :toggle => "modal", :target=>"#myModal" %>
       
      </li>

    <% end %>
  </ul>


</div>

<%= render 'hacks/modal' %>
    